/*-- scss:defaults --*/
$body-bg: #001f3f;    /* Este es un azul marino profundo */
$body-color: #f0f0f0; /* Texto casi blanco */
$link-color: #00ccff; /* Enlaces en azul brillante */
$sidebar-bg: #001a35; /* Menú lateral un poco más oscuro que el fondo */